[submodule "libs/AndroidBillingLibrary"]
	path = libs/AndroidBillingLibrary
	url = git@github.com:robotmedia/AndroidBillingLibrary.git
[submodule "libs/sActionBarSherlock"]
	path = libs/ActionBarSherlock
	url = git@github.com:robotmedia/ActionBarSherlock.git
